.places__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 361px);
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 20px 17px;
}


@media screen and (max-width: 950px) {
	.places__list {
		grid-template-columns: repeat(2, 282px);
		justify-content: center;
		grid-template-rows: repeat(3, max-content);
	}
} 

@media screen and (max-width: 700px) {
	.places__list {
		grid-template-columns: 282px;
		justify-content: center;
		grid-template-rows: repeat(6, max-content);
	}
} 